version: '3.8'

services:
  # Конфигурационные серверы (replica set)
  configsrv1:
    image: mongo:6.0
    container_name: configsrv1
    command: mongod --configsvr --replSet configrs --bind_ip_all --port 27017
    volumes:
      - configsrv1_data:/data/db
      - configsrv1_config:/data/configdb
    networks:
      - mongodb-cluster
    restart: unless-stopped

  configsrv2:
    image: mongo:6.0
    container_name: configsrv2
    command: mongod --configsvr --replSet configrs --bind_ip_all --port 27017
    volumes:
      - configsrv2_data:/data/db
      - configsrv2_config:/data/configdb
    networks:
      - mongodb-cluster
    restart: unless-stopped

  configsrv3:
    image: mongo:6.0
    container_name: configsrv3
    command: mongod --configsvr --replSet configrs --bind_ip_all --port 27017
    volumes:
      - configsrv3_data:/data/db
      - configsrv3_config:/data/configdb
    networks:
      - mongodb-cluster
    restart: unless-stopped

  # Шард 1 (replica set)
  shard1:
    image: mongo:6.0
    container_name: shard1
    command: mongod --shardsvr --replSet shard1rs --bind_ip_all --port 27017
    volumes:
      - shard1_data:/data/db
    networks:
      - mongodb-cluster
    restart: unless-stopped

  # Шард 2 (replica set)
  shard2:
    image: mongo:6.0
    container_name: shard2
    command: mongod --shardsvr --replSet shard2rs --bind_ip_all --port 27017
    volumes:
      - shard2_data:/data/db
    networks:
      - mongodb-cluster
    restart: unless-stopped

  # Mongos роутеры
  mongos1:
    image: mongo:6.0
    container_name: mongos1
    command: mongos --configdb configrs/configsrv1:27017,configsrv2:27017,configsrv3:27017 --bind_ip_all --port 27017
    ports:
      - "27017:27017"
    depends_on:
      - configsrv1
      - configsrv2
      - configsrv3
    networks:
      - mongodb-cluster
    restart: unless-stopped
    
  mongos2:
    image: mongo:6.0
    container_name: mongos2
    command: mongos --configdb configrs/configsrv1:27017,configsrv2:27017,configsrv3:27017 --bind_ip_all --port 27017
    ports:
      - "27018:27017"
    depends_on:
      - configsrv1
      - configsrv2
      - configsrv3
    networks:
      - mongodb-cluster
    restart: unless-stopped
    
  pymongo_api:
    container_name: pymongo_api
    build: 
      context: api_app
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    environment:
      MONGODB_URL: "mongodb://mongos1:27017,mongos2:27017"
      MONGODB_DATABASE_NAME: "somedb"
    networks:
      - mongodb-cluster
    depends_on:
      - mongos1
      - mongos2

volumes:
  configsrv1_data:
  configsrv1_config:
  configsrv2_data:
  configsrv2_config:
  configsrv3_data:
  configsrv3_config:
  shard1_data:
  shard2_data:

networks:
  mongodb-cluster:
    driver: bridge
