name: mongo-sharding

services:
  configsrv1:
    image: mongo:latest
    container_name: configsrv1
    command: ["--configsvr", "--replSet", "configReplSet", "--port", "27019"]
    volumes:
      - configsrv1_data:/data/db

  shard1:
    image: mongo:latest
    container_name: shard1
    command: ["--shardsvr", "--replSet", "shard1ReplSet", "--port", "27018"]
    volumes:
      - shard1_data:/data/db

  shard2:
    image: mongo:latest
    container_name: shard2
    command: ["--shardsvr", "--replSet", "shard2ReplSet", "--port", "27018"]
    volumes:
      - shard2_data:/data/db

  mongos:
    image: mongo:latest
    container_name: mongos
    command: >
      mongos --configdb configReplSet/configsrv1:27019 --bind_ip_all --port 27017
    ports:
      - "27017:27017"
    depends_on:
      - configsrv1
      - shard1
      - shard2

  pymongo_api:
    container_name: pymongo_api
    build:
      context: api_app
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      MONGODB_URL: "mongodb://mongos:27017"
      MONGODB_DATABASE_NAME: "somedb"
    depends_on:
      - mongos

volumes:
  configsrv1_data:
  shard1_data:
  shard2_data:
