name: mongo-sharding-repl

services:
  config-server:
    container_name: config-server
    image: dh-mirror.gitverse.ru/mongo:latest
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - config-data:/data/db
    command:
      [
        "--configsvr",
        "--replSet",
        "config-server",
        "--bind_ip_all",
        "--port",
        "27017"
      ]
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      start_period: 10s

  shard-1-replica-1:
    image: mongo:latest
    container_name: shard-1-replica-1
    restart: always
    ports:
      - "27011:27018"
    volumes:
      - shard1-replica1-data:/data/db
    command:
      [
        "--shardsvr",
        "--replSet",
        "shard-1",
        "--bind_ip_all",
        "--port",
        "27018"
      ]
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      start_period: 10s

  shard-1-replica-2:
    image: mongo:latest
    container_name: shard-1-replica-2
    restart: always
    ports:
      - "27012:27018"
    volumes:
      - shard1-replica2-data:/data/db
    command:
      [
        "--shardsvr",
        "--replSet",
        "shard-1",
        "--bind_ip_all",
        "--port",
        "27018"
      ]
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      start_period: 10s

  shard-1-replica-3:
    image: mongo:latest
    container_name: shard-1-replica-3
    restart: always
    ports:
      - "27013:27018"
    volumes:
      - shard1-replica3-data:/data/db
    command:
      [
        "--shardsvr",
        "--replSet",
        "shard-1",
        "--bind_ip_all",
        "--port",
        "27018"
      ]
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      start_period: 10s

  shard-2-replica-1:
    image: mongo:latest
    container_name: shard-2-replica-1
    restart: always
    ports:
      - "27021:27019"
    volumes:
      - shard2-replica1-data:/data/db
    command:
      [
        "--shardsvr",
        "--replSet",
        "shard-2",
        "--bind_ip_all",
        "--port",
        "27019"
      ]
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      start_period: 10s

  shard-2-replica-2:
    image: mongo:latest
    container_name: shard-2-replica-2
    restart: always
    ports:
      - "27022:27019"
    volumes:
      - shard2-replica2-data:/data/db
    command:
      [
        "--shardsvr",
        "--replSet",
        "shard-2",
        "--bind_ip_all",
        "--port",
        "27019"
      ]
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      start_period: 10s

  shard-2-replica-3:
    image: mongo:latest
    container_name: shard-2-replica-3
    restart: always
    ports:
      - "27023:27019"
    volumes:
      - shard2-replica3-data:/data/db
    command:
      [
        "--shardsvr",
        "--replSet",
        "shard-2",
        "--bind_ip_all",
        "--port",
        "27019"
      ]
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      start_period: 10s

  mongos-router:
    image: mongo:latest
    container_name: mongos-router
    restart: always
    ports:
      - "27020:27020"
    depends_on:
      - config-server
      - shard-1-replica-1
      - shard-1-replica-2
      - shard-1-replica-3
      - shard-2-replica-1
      - shard-2-replica-2
      - shard-2-replica-3
    command:
      [
        "mongos",
        "--configdb",
        "config-server/config-server:27017",
        "--bind_ip_all",
        "--port",
        "27020"
      ]
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      start_period: 10s

  redis-1:
    image: "redis:latest"
    container_name: redis-1
    ports:
      - "6379"
    volumes:
      - redis1-data:/data
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
    command: [ "redis-server", "/usr/local/etc/redis/redis.conf" ]

  redis-2:
    image: "redis:latest"
    container_name: redis-2
    ports:
      - "6379"
    volumes:
      - redis2-data:/data
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
    command: [ "redis-server", "/usr/local/etc/redis/redis.conf" ]

  redis-3:
    image: "redis:latest"
    container_name: redis-3
    ports:
      - "6379"
    volumes:
      - redis3-data:/data
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
    command: [ "redis-server", "/usr/local/etc/redis/redis.conf" ]

  redis-4:
    image: "redis:latest"
    container_name: redis-4
    ports:
      - "6379"
    volumes:
      - redis4-data:/data
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
    command: [ "redis-server", "/usr/local/etc/redis/redis.conf" ]

  redis-5:
    image: "redis:latest"
    container_name: redis-5
    ports:
      - "6379"
    volumes:
      - redis5-data:/data
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
    command: [ "redis-server", "/usr/local/etc/redis/redis.conf" ]

  redis-6:
    image: "redis:latest"
    container_name: redis-6
    ports:
      - "6379"
    volumes:
      - redis6-data:/data
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
    command: [ "redis-server", "/usr/local/etc/redis/redis.conf" ]

  pymongo_api:
    container_name: pymongo_api
    build:
      context: api_app
      dockerfile: Dockerfile
    depends_on:
      - mongos-router
      - redis-1
      - redis-2
      - redis-3
      - redis-4
      - redis-5
      - redis-6
    ports:
      - 8080:8080
    environment:
      MONGODB_URL: "mongodb://mongos-router:27020"
      MONGODB_DATABASE_NAME: "somedb"
      REDIS_URL: "redis://redis-2:6379"

volumes:
  config-data:
  shard1-replica1-data:
  shard1-replica2-data:
  shard1-replica3-data:
  shard2-replica1-data:
  shard2-replica2-data:
  shard2-replica3-data:
  redis1-data:
  redis2-data:
  redis3-data:
  redis4-data:
  redis5-data:
  redis6-data: