
name: sharding-repl-cache
services:
  pymongo_api:
    container_name: pymongo_api
    build: 
      context: api_app
      dockerfile: Dockerfile
    depends_on:
      - mongos_router
    ports:
      - 8080:8080
    environment:
      MONGODB_URL: "mongodb://mongos_router:27020"
      MONGODB_DATABASE_NAME: "somedb"
      REDIS_URL: "redis://redis_master:6379"
    networks:
      - app-network

  configSrv:
    image: dh-mirror.gitverse.ru/mongo:latest
    container_name: configSrv 
    restart: always
    ports:
      - "27017:27017"
    networks:
      - app-network
    volumes:
      - config-data:/data/db
    command:
      [
        "--configsvr", 
        "--replSet",
        "config_server",
        "--bind_ip_all",
        "--port",
        "27017"
      ] 
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      start_period: 10s

  shard1-repl1:
    image: dh-mirror.gitverse.ru/mongo:latest
    container_name: shard1-repl1
    restart: always
    ports:
      - "27018:27018"
    networks:
      - app-network
    volumes:
      - shard1-repl1-data:/data/db
    command:
      [
        "--shardsvr", 
        "--replSet",
        "shard1", 
        "--bind_ip_all",
        "--port",
        "27018"
      ]
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      start_period: 10s

  shard1-repl2:
    image: dh-mirror.gitverse.ru/mongo:latest
    container_name: shard1-repl2
    restart: always
    ports:
      - "27021:27021"
    networks:
      - app-network
    volumes:
      - shard1-repl2-data:/data/db
    command:
      [
        "--shardsvr", 
        "--replSet",
        "shard1", 
        "--bind_ip_all",
        "--port",
        "27021"
      ]
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      start_period: 10s

  shard1-repl3:
    image: dh-mirror.gitverse.ru/mongo:latest
    container_name: shard1-repl3
    restart: always
    ports:
      - "27022:27022"
    networks:
      - app-network
    volumes:
      - shard1-repl3-data:/data/db
    command:
      [
        "--shardsvr", 
        "--replSet",
        "shard1", 
        "--bind_ip_all",
        "--port",
        "27022"
      ]
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      start_period: 10s

  shard2-repl1:
    image: dh-mirror.gitverse.ru/mongo:latest
    container_name: shard2-repl1
    restart: always
    ports:
      - "27019:27019"
    networks:
      - app-network
    volumes:
      - shard2-repl1-data:/data/db
    command:
      [
        "--shardsvr", 
        "--replSet",
        "shard2", 
        "--bind_ip_all",
        "--port",
        "27019"
      ]
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      start_period: 10s

  shard2-repl2:
    image: dh-mirror.gitverse.ru/mongo:latest
    container_name: shard2-repl2
    restart: always
    ports:
      - "27023:27023"
    networks:
      - app-network
    volumes:
      - shard2-repl2-data:/data/db
    command:
      [
        "--shardsvr", 
        "--replSet",
        "shard2", 
        "--bind_ip_all",
        "--port",
        "27023"
      ]
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      start_period: 10s

  shard2-repl3:
    image: dh-mirror.gitverse.ru/mongo:latest
    container_name: shard2-repl3
    restart: always
    ports:
      - "27024:27024"
    networks:
      - app-network
    volumes:
      - shard2-repl3-data:/data/db
    command:
      [
        "--shardsvr", 
        "--replSet",
        "shard2", 
        "--bind_ip_all",
        "--port",
        "27024"
      ]
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      start_period: 10s

  mongos_router:
    image: dh-mirror.gitverse.ru/mongo:latest
    container_name: mongos_router
    restart: always
    
    ports:
      - "27020:27020"
    networks:
      - app-network
    command:
      [
        "mongos", 
        "--configdb", 
        "config_server/configSrv:27017",
        "--bind_ip_all",
        "--port",
        "27020"
      ]
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      start_period: 10s

  redis_master:
    image: redis:latest
    container_name: redis_master
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    volumes:
      - ./redis/master.conf:/usr/local/etc/redis/redis.conf
      - redis_master_data:/data
    ports:
      - "6379:6379"
    networks:
      - app-network

  redis_replica:
    image: redis:latest
    container_name: redis_replica
    command: ["redis-server", "/usr/local/etc/redis/redis.conf", "--replicaof", "redis_master", "6379"]
    volumes:
      - ./redis/replica.conf:/usr/local/etc/redis/redis.conf
      - redis_replica_data:/data
    networks:
      - app-network

networks:
  app-network:
    name: app-network
    driver: bridge

volumes:
  config-data:
  shard1-repl1-data:
  shard1-repl2-data:
  shard1-repl3-data:
  shard2-repl1-data:
  shard2-repl2-data:
  shard2-repl3-data:
  redis_master_data:
  redis_replica_data:
