name: sharding-repl-cache
services:

  configSrv1:
    image: mongo:latest
    container_name: configSrv1
    command: ["--configsvr", "--replSet", "config_server", "--bind_ip_all", "--port", "27017"]
    networks:
      app-network:
        ipv4_address: 173.17.0.10
    volumes:
      - configSrv1-data:/data/db

  configSrv2:
    image: mongo:latest
    container_name: configSrv2
    command: ["--configsvr", "--replSet", "config_server", "--bind_ip_all", "--port", "27017"]
    networks:
      app-network:
        ipv4_address: 173.17.0.11
    volumes:
      - configSrv2-data:/data/db

  configSrv3:
    image: mongo:latest
    container_name: configSrv3
    command: ["--configsvr", "--replSet", "config_server", "--bind_ip_all", "--port", "27017"]
    networks:
      app-network:
        ipv4_address: 173.17.0.12
    volumes:
      - configSrv3-data:/data/db

  shard1a:
    image: mongo:latest
    container_name: shard1a
    command: ["--shardsvr", "--replSet", "shard1", "--bind_ip_all", "--port", "27018"]
    networks:
      app-network:
        ipv4_address: 173.17.0.20
    volumes:
      - shard1a-data:/data/db

  shard1b:
    image: mongo:latest
    container_name: shard1b
    command: ["--shardsvr", "--replSet", "shard1", "--bind_ip_all", "--port", "27018"]
    networks:
      app-network:
        ipv4_address: 173.17.0.21
    volumes:
      - shard1b-data:/data/db

  shard1c:
    image: mongo:latest
    container_name: shard1c
    command: ["--shardsvr", "--replSet", "shard1", "--bind_ip_all", "--port", "27018"]
    networks:
      app-network:
        ipv4_address: 173.17.0.22
    volumes:
      - shard1c-data:/data/db

  shard2a:
    image: mongo:latest
    container_name: shard2a
    command: ["--shardsvr", "--replSet", "shard2", "--bind_ip_all", "--port", "27019"]
    networks:
      app-network:
        ipv4_address: 173.17.0.23
    volumes:
      - shard2a-data:/data/db

  shard2b:
    image: mongo:latest
    container_name: shard2b
    command: ["--shardsvr", "--replSet", "shard2", "--bind_ip_all", "--port", "27019"]
    networks:
      app-network:
        ipv4_address: 173.17.0.24
    volumes:
      - shard2b-data:/data/db

  shard2c:
    image: mongo:latest
    container_name: shard2c
    command: ["--shardsvr", "--replSet", "shard2", "--bind_ip_all", "--port", "27019"]
    networks:
      app-network:
        ipv4_address: 173.17.0.25
    volumes:
      - shard2c-data:/data/db

  mongos_router:
    image: mongo:latest
    container_name: mongos_router
    ports:
      - "27020:27020"
    command: mongos --configdb config_server/configSrv1:27017,configSrv2:27017,configSrv3:27017 --bind_ip_all --port 27020
    networks:
      app-network:
        ipv4_address: 173.17.0.30

  init_mongo:
    image: mongo:latest
    container_name: init_mongo
    volumes:
      - ./mongo-init:/scripts
    depends_on:
      - mongos_router
    networks:
      app-network:
        ipv4_address: 173.17.0.31
    entrypoint: bash /scripts/init-entrypoint.sh

  pymongo_api:
    container_name: pymongo_api
    build: 
      context: api_app
      dockerfile: Dockerfile
    depends_on:
      - mongos_router
    ports:
      - 8080:8080
    environment:
      MONGODB_URL: "mongodb://mongos_router:27020"
      MONGODB_DATABASE_NAME: "somedb"
      REDIS_URL: "redis://valkey:6379" 
    networks:
      app-network:
        ipv4_address: 173.17.0.9

  valkey:
    image: valkey/valkey:latest
    container_name: valkey
    restart: always
    ports:
      - "6379:6379"
    networks:
      app-network:
        ipv4_address: 173.17.0.40

volumes:
  configSrv1-data:
  configSrv2-data:
  configSrv3-data:
  shard1a-data:
  shard1b-data:
  shard1c-data:
  shard2a-data:
  shard2b-data:
  shard2c-data:

networks:
  app-network:
    driver: bridge
    ipam:
      config:
        - subnet: 173.17.0.0/16
