name: mongo-sharding-repl

services:
  config-server:
    container_name: config-server
    image: dh-mirror.gitverse.ru/mongo:latest
    restart: always
    ports:
      - "27017:27017"
    networks:
      app-network:
        ipv4_address: 173.17.0.10
    volumes:
      - config-data:/data/db
    command:
      [
        "--configsvr",
        "--replSet",
        "config-server",
        "--bind_ip_all",
        "--port",
        "27017"
      ]
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      start_period: 10s

  shard-1-replica-1:
    image: mongo:latest
    container_name: shard-1-replica-1
    restart: always
    ports:
      - "27011:27018"
    networks:
      app-network:
        ipv4_address: 173.17.0.11
    volumes:
      - shard1-replica1-data:/data/db
    command:
      [
        "--shardsvr",
        "--replSet",
        "shard-1",
        "--bind_ip_all",
        "--port",
        "27018"
      ]
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      start_period: 10s

  shard-1-replica-2:
    image: mongo:latest
    container_name: shard-1-replica-2
    restart: always
    ports:
      - "27012:27018"
    networks:
      app-network:
        ipv4_address: 173.17.0.12
    volumes:
      - shard1-replica2-data:/data/db
    command:
      [
        "--shardsvr",
        "--replSet",
        "shard-1",
        "--bind_ip_all",
        "--port",
        "27018"
      ]
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      start_period: 10s

  shard-1-replica-3:
    image: mongo:latest
    container_name: shard-1-replica-3
    restart: always
    ports:
      - "27013:27018"
    networks:
      app-network:
        ipv4_address: 173.17.0.13
    volumes:
      - shard1-replica3-data:/data/db
    command:
      [
        "--shardsvr",
        "--replSet",
        "shard-1",
        "--bind_ip_all",
        "--port",
        "27018"
      ]
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      start_period: 10s

  shard-2-replica-1:
    image: mongo:latest
    container_name: shard-2-replica-1
    restart: always
    ports:
      - "27021:27019"
    networks:
      app-network:
        ipv4_address: 173.17.0.21
    volumes:
      - shard2-replica1-data:/data/db
    command:
      [
        "--shardsvr",
        "--replSet",
        "shard-2",
        "--bind_ip_all",
        "--port",
        "27019"
      ]
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      start_period: 10s

  shard-2-replica-2:
    image: mongo:latest
    container_name: shard-2-replica-2
    restart: always
    ports:
      - "27022:27019"
    networks:
      app-network:
        ipv4_address: 173.17.0.22
    volumes:
      - shard2-replica2-data:/data/db
    command:
      [
        "--shardsvr",
        "--replSet",
        "shard-2",
        "--bind_ip_all",
        "--port",
        "27019"
      ]
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      start_period: 10s

  shard-2-replica-3:
    image: mongo:latest
    container_name: shard-2-replica-3
    restart: always
    ports:
      - "27023:27019"
    networks:
      app-network:
        ipv4_address: 173.17.0.23
    volumes:
      - shard2-replica3-data:/data/db
    command:
      [
        "--shardsvr",
        "--replSet",
        "shard-2",
        "--bind_ip_all",
        "--port",
        "27019"
      ]
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      start_period: 10s

  mongos-router:
    image: mongo:latest
    container_name: mongos-router
    restart: always
    ports:
      - "27020:27020"
    depends_on:
      - config-server
      - shard-1-replica-1
      - shard-1-replica-2
      - shard-1-replica-3
      - shard-2-replica-1
      - shard-2-replica-2
      - shard-2-replica-3
    networks:
      app-network:
        ipv4_address: 173.17.0.7
    command:
      [
        "mongos",
        "--configdb",
        "config-server/config-server:27017",
        "--bind_ip_all",
        "--port",
        "27020"
      ]
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      start_period: 10s

  pymongo_api:
    container_name: pymongo_api
    build:
      context: api_app
      dockerfile: Dockerfile
    depends_on:
      - mongos-router
    ports:
      - 8080:8080
    environment:
      MONGODB_URL: "mongodb://mongos-router"
      MONGODB_DATABASE_NAME: "somedb"

networks:
  app-network:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 173.17.0.0/16

volumes:
  config-data:
  shard1-replica1-data:
  shard1-replica2-data:
  shard1-replica3-data:
  shard2-replica1-data:
  shard2-replica2-data:
  shard2-replica3-data:
